<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="description" content="{{ site.description }}">

    {%- comment -%} TODO: OpenGraph meta tags {% endcomment %}

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="manifest" href="/manifest.json">
    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <script>
      // Set before paint to prevent flash.
      var globalTheme = ''
      function selectTheme(theme) {
        if (theme === 'system') {
          localStorage.removeItem('theme')
        } else {
          localStorage.setItem('theme', theme)
        }
        document.documentElement.setAttribute('data-theme', theme)
        globalTheme = theme
      }
      selectTheme(localStorage.getItem('theme') ?? 'system')
    </script>

    {%- css -%}
      {% include '../_assets/css/reset.css' %}
      {% include '../_assets/css/main.css' %}
      {% include '../_assets/css/prism.css' %}
    {% endcss %}
    <link rel="stylesheet" type="text/css" href="{% getBundleFileUrl 'css' %}" />

    <title>{{ site.author.name }} | {{ title }}</title>

    {% js %}
      {% include '../_assets/js/script.js' %}
      {%- if eleventy.env.runMode == 'build' -%}
        {% include '../_assets/js/analytics.gen.js' %}
      {%- else -%}
        {% include '../ctf/js/analytics.js' %}
      {%- endif -%}
    {% endjs -%}
    <script src="{% getBundleFileUrl 'js' %}" defer></script>
  </head>
  <body>
    <a href="#main" id="skip-link">Skip to main content</a>
    <header>
      <a href="/">ryanmartin.me</a>
      <a href="/ctf" tabindex="-1">🚩👀⁉️</a>
      <nav>
        {% for link in site.header -%}
          <a href="{{ link.slug }}" {% if page.url == link.slug %}style="font-weight: bold"{% endif %}>{{ link.text }}</a>
        {% endfor -%}
      </nav>
    </header>
    <div id="top"></div>
    <main id="main">
      {% unless page.url != "/articles/" and page.url contains "/articles/"
                or
                page.url != "/drafts/" and page.url contains "/drafts/" %}
        <h1>{{ title }}</h1>
      {% endunless %}
      {{ content }}
    </main>
    <footer>
      <div>
        <p>&copy; 2024-{{ 'now' | date: '%Y' }} Ryan Martin</p>
        <p><a href="#top">Back to top ⤴</a></p>
      </div>
      <p>Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
      <div id="theme" hidden>
        <span>Theme:</span>
        <label><input type="radio" name="theme" value="system">System</label>
        <label><input type="radio" name="theme" value="light">Light</label>
        <label><input type="radio" name="theme" value="dark">Dark</label>
      </div>
      <p>
        <a href="/feed.xml">
          Subscribe
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" style="height: 1.2em; width: 1.2em; vertical-align: text-bottom" viewBox="0 0 256 256">
            <circle cx="68" cy="189" r="24" fill="currentColor"></circle>
            <path d="M160 213h-34a82 82 0 0 0 -82 -82v-34a116 116 0 0 1 116 116z" fill="currentColor"></path>
            <path d="M184 213A140 140 0 0 0 44 73 V 38a175 175 0 0 1 175 175z" fill="currentColor"></path>
          </svg></a>&nbsp;
          <a href="https://aboutfeeds.com/">(What's this?)</a>
      </p>
      <p><a href="/colophon/">Colophon</a></p>
    </footer>
  </body>
</html>
