---
layout: base.liquid
---

<article>
  <header>
    {% if draft %}
      <p id="draft">DRAFT</p>
    {% endif %}
    <h1>{{ title }}</h1>
    <p> <!-- wrap with p just to make the line height consistent -->
      <time>{{ published | date: "%d %B %Y" }}</time>
    </p>
    <ul class="tags">
      {%- for tag in tags offset:1 -%}
        <li><a href="/tags/#{{ tag | slugify }}">#{{ tag | slugify }}</a></li>
      {%- endfor -%}
    </ul>
  </header>
  <section id="content">
    {{ content }}
  </section>
  {% if not draft %}
    <section id="hey">
      <p>

      Hi 👋. If you like this post, consider
      <a href="https://twitter.com/intent/tweet/?text={{ title }} @gud_mornign&url={{ metadata.url }}{{ page.url }}">
        sharing it on X
      </a> or
      <a href="https://news.ycombinator.com/submitlink?u={{ metadata.url }}{{ page.url }}&t={{ title }}">
        Hacker News
      </a>.
      Have a comment or correction? Feel free to <a href="mailto:{{ metadata.author.email }}">email me</a>
      or <a href="{{ metadata.author.x }}">tweet me</a>.
      You can also subscribe to new articles via <a href="/feed.xml">RSS</a>.
      </p>

      <p>Continue reading:</p>

      {% if page.url contains "/articles/" %}
        {% assign posts = collections.articles | sort: 'data.published' %}
      {% elsif page.url contains "/snippets/" %}
        {% assign posts = collections.snippets | sort: 'data.published' %}
      {% endif %}

      {% if posts %}
        {% assign previous = posts | getPreviousCollectionItem: page %}
        {% assign next = posts | getNextCollectionItem: page %}
        <ul>
          {% if previous %}
            <li><strong>Back: </strong><a href="{{ previous.url }}">{{previous.data.title }}</a></li>
          {% endif %}
          {% if next %}
            <li><strong>Next: </strong><a href="{{ next.url }}">{{next.data.title}}</a></li>
          {% endif %}
        </ul>
      {% endif %}
    </section>
  {% endif %}
</article>
