---
layout: base.liquid
title: Ryan Martin | Tags
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - articles
    - snippets
permalink: /tags/{{ tag }}/
---

<p>Tagged <strong>#{{ tag }}</strong>:</p>

<ul class="archive">
  {% assign posts = collections[tag] | sort: 'data.published' | reverse %} 
  {%- for post in posts -%}
    <li>
      <a href="{{ post.page.url }}">{{ post.data.title }}</a>
      <time>{{ post.data.published | toISODateString }}</time>
    </li>
  {%- endfor -%}
</ul>
